<p class="fs-1">Stupid Coaching</p>


      <div class="col col-lg-6 mb-4 mb-lg-0">
        <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #a34e78;">
          <blockquote class="blockquote pb-2">
            <p><%= @question %></p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 font-italic">
            You
          </figcaption>
        </figure>
      </div>


<div class="col col-lg-6">
        <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #f68e9d;">
          <blockquote class="blockquote pb-2">
            <p><%= @answer %></p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 font-italic">
            Your coah
          </figcaption>
        </figure>
      </div>
<%= link_to "Ask a new question", ask_path%>
